#carouselExampleControls {
    max-width: 600px;  /* Максимальная ширина */
    max-height: 400px; /* Максимальная высота */
    margin: 0 auto;     /* Центрирует карусель по горизонтали */
}
.carousel-item img {
    object-fit: cover; /* Обрезает изображение, сохраняя пропорции */
  height: 100%;
  width: 100%;
}